@{
    Layout = "_LayoutAdmin";
}

@model ShopNow.DAL.Entities.ProductOrder

<link rel="stylesheet" href="~/admintemplate/css/components.css">
<link href="~/admintemplate/modules/toastr/build/toastr.min.css" rel="stylesheet" />

<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>Orders</h1>
            <div class="section-header-breadcrumb">
                <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
                <div class="breadcrumb-item"><a href="#">Components</a></div>
                <div class="breadcrumb-item">Table</div>
            </div>
        </div>

        <div class="section-body">

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Orders </h4>
                            <div class="card-header-action">
                                <form>
                                    <div class="input-group">

                                        <input type="text" class="form-control" placeholder="Search">
                                        <div class="input-group-btn" style="display:flex">
                                            <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table table-striped" id="sortable-table">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tblOrderList">
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="card-footer text-right" style="padding-top:0px ">
                            <div class="card-body">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-end" id="divPagination">
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="~/admintemplate/js/jquery-3.6.4.min.js"></script>
<script src="~/admintemplate/js/page/components-table.js"></script>
<script src="~/admintemplate/custom/js/common.js"></script>
<script src="~/admintemplate/custom/js/orderlist.js"></script>
<script src="~/admintemplate/js/page/bootstrap-modal.js"></script>
