@{
    Layout = "_Layout";
}

@model ShopNow.DAL.Entities.ProductOrder;

<div class="row px-xl-5">

    <div class="col-lg-6">
        <div class="mb-5">
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Add a Product Complaint</span></h5>
            <div class="bg-light p-30 mb-5">
                <input id="hdnOrderId" class="form-control" name="OrderId" value="@Model.Id" type="hidden" autofocus>

                <div id="product-carousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner bg-light">
                        <div class="d-flex align-items-center">
                            <img class="w-500 h-500" src="data:image/png;base64,@Model?.Product.ProductImages[0].Image.ImageData" style="width:75px; height:75px;" alt="Image">
                            &nbsp;
                            <div>
                                <p><b>@Model?.Product.Name</b></p>
                                <p style="margin-top: -5px;">@Model?.Product.ProductDescription</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Add a HeadLine</span></h5>
        <div class="bg-light p-30 mb-5">
            <input id="productComplaintHeadLine" type="text" class="form-control" name="ProductComplaintHeadLine" style="width:77%" required/>
        </div>
        <div class="mb-5">
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Description</span></h5>
            <div class="bg-light p-30 mb-5">
                <textarea id="productComplaintDescription" class="form-control" rows="5" placeholder="write your complaint here..." required></textarea>
            </div>

        </div>
        <button type="submit" id="submitProductComplaintBtn" class="btn btn-primary mt-3">Submit</button>
    </div>

    <div class="col-lg-6">
        &nbsp; &nbsp;
        <div class="bg-light p-30 mb-3">
            <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>123 Street, New York, USA</p>
            <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@example.com</p>
            <p class="mb-2"><i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 67890</p>
        </div>
    </div>
</div>

<script src="~/admintemplate/js/jquery-3.6.4.min.js"></script>
<script src="~/admintemplate/custom/js/addcomplaint.js"></script>
<script src="~/admintemplate/custom/js/common.js"></script>